<div class='box tabular'>
  <p>
    <%= f.label 'Chart name:' %>
    <%= f.text_field :name, :required => true %>
  </p>
  <p>
    <%= f.label 'Tracker:' %>
    <%= f.select :tracker_id, tracker_options, include_blank: true %>
  </p>
</div>