<h2>New chart</h2>

<%= form_for @chart do |f| %>
  <%= f.hidden_field :project_id, :value => @project.id %>
  <%= render "#{@chart.current_step}_step", :f => f %>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>